body {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    background: aliceblue;
}

#game_board {
    display: grid;
    grid-template-columns: repeat(28, 25px);
    grid-template-rows: repeat(20, 25px);
    width: 700px;
    height: 500px;
    background: cadetblue;
    border-radius: 20px;
    padding: 5px;
}

.cell {
    border: 1px solid black;
}