body {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    height: 700px;
    background: aliceblue;
}

#top_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#timer_circle {
    border: 5px solid;
    width: 200px;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 101px;
    font-size: 40px;
    font-weight: bold;
    background: antiquewhite;
}

.player {
    border: 5px solid;
    width: 340px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: aqua;
}

.center_players {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#start {
    position: fixed;
    position-area: center;
    border: 2px solid black;
    border-radius: 2px;
    background: cornflowerblue;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 20px;
}

#start:hover {
    background-color: cyan;
}

#mid_content {
    position: fixed;
    position-area: center;
    font-weight: bold;
    width: 80%;
    display: none;
}

#score {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
}

#turn {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

#turn span {
    background: crimson;
    border: 2px solid black;
    padding: 5px;
    margin: 2px;
    border-top-right-radius: 20px;
}

#numbers_container {
    display: flex;
    justify-content: space-between;
}

.numbers {
    width: 40px;
    background: crimson;
    border: none;
    font-size: 12px;
    font-family: 'Orbitron', sans-serif;
}

.numbers:hover {
    background: brown;
}

#p1_numbers {
    width: 250px;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background: black;
}

#p2_numbers {
    width: 250px;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background: black;
}

#center_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
}

#center_buttons input[type="button"] {
    border: 2px solid black;
    background: chartreuse;
    border-radius: 6px;
    width: 130px;
    height: 40px;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
}

#center_buttons input[type="button"]:hover {
    background: aquamarine;
}